# Maven
target/

# hsql
# TODO change path once a better locaion is used
distributed_chat_client.lck
distributed_chat_client.log
distributed_chat_client.properties
distributed_chat_client.script

# IntelliJ
.idea/
.editorconfig
*.iml
